@charset "UTF-8";
body {
  font-family: "Tanuki Magic", cursive;
  font-weight: 400;	
  font-style: normal;
  background-image: url(../images/background/index_background.png);
}
/******************************
 header
******************************/
header {
  width: 100%;
  background-color:rgba(255,255,255,0.7);
  z-index: 1000;
  padding: 0;
  box-shadow: 2px 2px 4px gray;
}
a {
  text-decoration: none;
}
.head_A {
  padding-left: 10px;
  padding-right: 10px;
}
.head_A img {
  width: 70%; 
}

.head_B ul {
  margin: 0;
  list-style: none;
}
.head_B ul li{
  padding-left: 10px;
  padding-right: 15px;
}
.head_B a {
  display: block;
  padding: 8px;
  color: #000000;
  text-decoration: none;
  border-bottom: 3px solid none;
}
.head_B a:hover {
  margin-top: -3px;
  border-bottom: 3px solid #000;
}
.head_B img{
  width: 50px;
}

@media(min-width: 1024px) {
  .header_container {
      display: flex;
      align-items: center;
      max-width: 1200px;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
  }
  .head_B ul {
      display: flex
  }
  .head_C {
      display: none;
  }
  .head_B {
      display: block !important;
  }
}

@media(max-width:1023px) {
  header .header_container_small {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .head_C {
      margin-right: 10px;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      font-size: 28px;
      opacity: 0.8;
      cursor: pointer;
      color: #000;
  }
  .head_C:hover {
      opacity: 0.3;
  }
  .head_B {
      display: none;
  }
}  

/**********************************
  slick
**********************************/
.sale_slick {
  width: 100%;
  max-width:1200px;
  margin: 15px auto;
  position: relative;
  @media screen and (max-width: 800px) {
    .test-slick {
      margin: 5% auto;
    }
  }
}

.sale_slick_img {
  margin-right: 8px;
  margin-left: 8px;
}
.sale_slick_img img {
  height: auto;
  width: 100%;
}

.sale_slick button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
}
/**********************************
  main
**********************************/

/**********************************
  footer
**********************************/
footer{
  background-color:rgba(255,255,255,0.7);
  box-shadow: 2px 2px 4px gray;
}
.footer_menu {
  color: #000000;
  text-align: center;
  padding: 30px;
}
.footer_menu a {
  color: #000000;
  display: inline-block;
  font-size:120%;
  text-decoration:none;
  position: relative;
  transition: .3s;
  padding-bottom: 5px;
}
.footer_menu a::after{
  position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 1px;
	background-color: #000000;
	transition: .3s;
	transform: translateX(-50%);
  border-bottom: 2px solid #000000;
}
.footer_menu a:hover::after {
  width: 100%;
}
.footer_menu .foot_B {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_menu .foot_B li {
  margin: 0;
  padding: 0 20px;
}
.footer_menu .copyright {
  font-size: small;
  margin: 0;
  padding: 20px 0 0 0;
}

.foot_A{
  display: flex;
  justify-content: flex-end;
}
.foot_A img{
  width: 100%;
  height: 100%;
  max-width: 200px;
}
