@charset "UTF-8";
body {
    background-image: url(../images/background/index_7thA_BG.mp4);
    color: #060606;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 0.06em;
  }
  a{
    text-decoration: none;
    color: #060606;
  }

/******************************
 header
******************************/
header {
  width: 100%;
  background-color:rgba(255,255,255,0.5);
  z-index: 1000;
  padding: 0;
  box-shadow: 2px 2px 4px gray;
}

.head_A {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

.head_A img {
  width: 70%;
  
}

.head_B ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.head_B a {
  display: block;
  padding: 8px;
  color: #000000;
  font-size: 17px;
  text-decoration: none;
  border-bottom: 3px solid none;
}

.head_B a:hover {
  margin-top: -3px;
  border-bottom: 3px solid #000;
}

@media(min-width: 1024px) {
  .header_container {
      display: flex;
      align-items: center;
      max-width: 1200px;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
  }

  .head_B ul {
      display: flex
  }

  .head_C {
      display: none;

  }

  .head_B {
      display: block !important;
  }
}

@media(max-width:1023px) {
  header .header_container_small {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .head_C {
      margin-right: 10px;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      font-size: 28px;
      opacity: 0.8;
      cursor: pointer;
      color: #000;
  }

  .head_C:hover {
      opacity: 0.3;

  }

  .head_B {
      display: none;
  }
}  

/**********************************
  slick
**********************************/
.sale_slick {
  width: 100%;
  max-width:1200px;
  margin: 15px auto;
  position: relative;
  @media screen and (max-width: 800px) {
    .test-slick {
      margin: 5% auto;
    }
  }
}

.sale_slick_img {
  margin-right: 8px;
  margin-left: 8px;
}

.sale_slick_img img {
  height: auto;
  width: 100%;
}

.sale_slick button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
}
/**********************************
  main
**********************************/

/**********************************
  footer
**********************************/
.footer {
    padding: 90px 0 70px;
    /*add*/
    border-top: 1px solid #e8ecee;
  }
  .footer_logo {
    width: 100px;
    margin: 0 auto;
  }
  .footer_copyright {
    margin-top: 30px;
    text-align: center;
    /*add*/
    color: #b5b5b5;
    font-size: 11px;
  }